  /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol,
  ul {
    list-style: none;
  }

  blockquote,
  q {
    quotes: none;
  }

  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* template */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid #000; */
  }

  body {
    /* background-color: rgb(0, 255, 0); */
    font-family: Poppins;
  }

  .header {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12%;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    background-image: url(https://cdn.pixabay.com/photo/2016/08/11/23/48/mountains-1587287_1280.jpg);
    background-size: cover;
    background-position: 0 -300px;
    background-repeat: no-repeat;
    clip-path: polygon(66% 0, 100% 0, 100% 43%, 100% 100%, 49% 87%, 81% 91%, 50% 100%, 0 100%, 0 0);
  }

  .inputHead {
    display: flex;
  }

  .description {
    margin-left: 20px;
  }

  .header .input {
    width: 400px;
    padding: 13px 20px;
  }

  .input {
    border: none;
    border-radius: 20px 0px 0px 20px;
    padding: 15px 40px;
    font-size: 16px;
    box-shadow: 0px 0px 12px #0f0;
    box-sizing: border-box;
  }

  .button {
    border: none;
    border-radius: 0px 20px 20px 0px;
    padding: 15px 40px;
    font-size: 16px;
    background-color: rgb(6, 23, 54);
    box-shadow: 0px 0px 12px #0f0;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    color: #fff;
  }

  .title,
  .subtitle {
    line-height: 40px;
    font-size: 37px;
  }

  .product {
    columns: 4;
    column-gap: 20px;
    margin: 0 100px;
    margin-bottom: 100px;
  }

  .productCard {
    break-inside: avoid;
    overflow: hidden;
    margin: 20px 0;
    border-radius: 10px;
    padding: 0;
    position: relative;
  }
 
  .productCard img {
    transition: all 0.6s ease-in-out;
    transform: scale(1.03);
  }

  .productCard img:hover {
    transform: scale(1.1);
  }

  .iterate {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 100px;
    grid-template-columns: 100px 100px 100px 0fr;
    gap: 20px;
  }

  .btnIterate {
    border: none;
    border-radius: 20px;
    padding: 15px 40px;
    font-size: 16px;
    background-color: rgb(6, 23, 54);
    box-shadow: 0px 0px 12px #0f0;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    color: #fff;
  }

  .btnIterate:hover {
    background-color: #0f0;
  }

  .userDetail {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    gap: 5px;
    z-index: 4;
    padding-left: 4px;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    padding: 0 9px;
    border-radius: 6px;
  }

  .productCard:hover .userDetail {
    opacity: 1;
    box-shadow: 0px 0px 20px #000;
  }

  .tags {
    color: #fff;
    font-size: 15px;
  }

  .userImg {
    width: 40px;
    height: auto;
    border-radius: 50%;
  }
  /* 
  ======================================
  Category
  ======================================
  */
     
  .ctgHeader {
    width: 100%;
    height: 600px;
    /* display: flex; */
    justify-content: flex-start;
    align-items: center;
    gap: 12%;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    background-image: url(https://pixabay.com/get/g88c2b5ed5d89d7cdef947451d1a2bdf064edfde97cf38326862fc38b6cb0192ce3f1f5c2696b587a54f751a55293a51de886cb7dbcd4fdd87623f2512a6a1b0c_640.jpg);
    background-size: cover;
    /* background-position: 0 -300px; */
    background-repeat: no-repeat;
    clip-path: polygon(66% 0, 100% 0, 100% 43%, 100% 100%, 49% 87%, 81% 91%, 50% 100%, 0 100%, 0 0);
  }
  .ctgTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 400px;
  }
  .loopHeader {
    font-size: 50px;
  }

  
    /* 
    ======================================
    Loading State
    ======================================
    */

  .loading{
    position: relative;
  }
  .loading::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
  }
  
    /* 
    ======================================
    Detail
    ======================================
    */


    .detail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 1px;
      width: fit-content;
      margin: auto;
      width: 30%;
      background-color: rgb(6, 23, 54);
      box-shadow: 0px 0px 200px 30px #000;
    }
    .dtlImg {
       width: 100%;
       height: auto;
      /* border-radius: 10px; */
    }
    .homeBtn {
      border: none;
      padding: 7px 10px;
      border-radius: 6px;
      position: absolute;
      right: 10px;
      top: 10px;
      background-color: rgb(6, 23, 54);
      color: #fff;
      box-shadow: 0px 5px 3px 0px #000;
    }
    .homeBtn:active {
      transform: translateY(4px);
    }
    .bgDetail {
      width: 100%;
      height: 500px;
      color: #fff;
      background-image: url(https://pixabay.com/get/ga178fe8ed6ba41a8d2eaf42ae8d6c70f0a56e4c1526a7a195dd0d67afd89be95e1ee3cc4b13fe1b89a0e67d3d82116d02da8be7b2061c23be00fe7efed224bcc_640.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      /* background-position: 0 -300px; */
    }
    .btnLoop {
      display: grid;
      grid-template-columns: repeat(20, 1fr);
      align-items: center;
      gap: 15px;
      width: 90%;
      padding-top: 10px;
      overflow-x: scroll;
      margin: auto;
      box-sizing: border-box;
    }
  
    .btnLoop::-webkit-scrollbar {
      opacity: 0;
    }
    .btnOpt {
      border: none;
      padding: 10px 20px;
      border-radius: 6px;
      color: #fff;
      background-color: rgb(6, 23, 54);
    }
    

  /* 
  ======================================
  screen sizing width (1252px)
  ======================================
  */

  @media screen and (max-width: 1252px) {
    .header {
      background-position: 0 0;
      gap: 7%;
    }
  }

  /* 
  ======================================
  screen sizing width (1000px)
  ======================================
  */

  @media screen and (max-width: 1000px) {
    .header {
      background-position: 0 0;
      gap: 5%;
    }

    .product {
      columns: 4;
      column-gap: 20px;
      margin: 0 100px;
      margin-bottom: 95px;
    }

    .iterate {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-rows: 50px;
      grid-template-columns: 60px 100px 60px 0fr;
      margin-left: 20px;
      margin-bottom: 20px;
    }

    .btnIterate {
      border-radius: 20px;
      padding: 7px 7px;

    }

  }


  /* 
  ======================================
  screen sizing width (860px)
  ======================================
  */

  @media screen and (max-width: 860px) {
    .header {
      background-position: 0 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      gap: 20px;
    }

    .header .input {
      width: 100%;
    }

    .description {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 18px;
    }

    .inputHead {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .header .input {
      width: 60%;
      padding: 13px 20px;
    }

    .header .button {
      /* width: 40%; */
      padding: 13px 20px;
    }

    .product {
      columns: 3;
      column-gap: 20px;
      margin: 0 85px;
      margin-bottom: 90px;
    }


  }

  /* 
  ======================================
  screen sizing width (680px)
  ======================================
  */

  @media screen and (max-width: 680px) {
    .product {
      columns: 3;
      column-gap: 20px;
      margin: 0 60px;
      margin-bottom: 80px;
    }


  }

  /* 
  ======================================
  screen sizing width (560px)
  ======================================
  */

  @media screen and (max-width: 560px) {
    .product {
      columns: 2;
      column-gap: 15px;
      margin: 0 30px;
      margin-bottom: 70px;
    }

    .iterate {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-rows: 50px;
      grid-template-columns: 60px 90px 60px 0fr;
      margin-left: 20px;
    }

    .btnIterate {
      border-radius: 20px;
      padding: 7px 7px;

    }


  }

  /* 
  ======================================
  screen sizing width (300px)
  ======================================
  */

  @media screen and (max-width: 350px) {
    .product {
      columns: 1;
      column-gap: 15px;
      margin-bottom: 50px;
    }


  }